
* {
  --primary-color: #3498db;
}
a {
  text-decoration: none;
}

body {
  color: #555;
  font-family: "Roboto", sans-serif;
}

.navbar-brand {
  font-size: 30px;
}

.nav-link {
  font-size: 18px !important;
  font-weight: 500;
}

.head-section {
  background-image: linear-gradient(180deg, #c4b6fd, #93acfc);
}

.navbar-brand,
.text-primary {
  color: #0a58ca !important;
}

.btn-primary {
  background-color: #0a58ca !important;
  border: none;
}

.nav-link:hover {
  color: #0a58ca;
}

p {
  font-size: 18px;
}
.btn-primary:hover {
  background-color: #257dfd !important;
}

.blue-bg {
  background-color: #0a58ca;
  color: #fff;
}

.ionicons {
  color: #0a58ca;
  background-color: #f2f2f2;
  padding: 10px;
  height: 30px;
  width: 30px;
  margin-bottom: 12px;
}

.nav-tabs {
  border: none;
}

.nav-tabs .active {
  background-color: #0a58ca !important;
  border: none;
  color: #fff !important;
}

footer p, a {
	color: #ffffff;
}

footer .line {
    width: 50px;
    height: 3px;
    background-color: #b6daff;
    margin-top: 12px;
    margin-bottom: 24px;
}

.footer-bottom {
	text-align: end;
	padding: 8px;
}

.container-nav {
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 5px 25px;
  transition: background-color 0.3s ease-in-out;
}

.container-nav.scrolled {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(5px);
}
